[user]
  name = Morton Jonuschat
  email = yabawock@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  whitespace = trailing-space,space-before-tab
  excludesfile = ~/.gitignore-global
  editor = vim
[apply]
  whitespace = fix
[advice]
  statusHints = false
[branch]
  autosetuprebase = remote
[alias]
  # log
  l = log --graph --date=short
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

  # rebase
  rc = rebase --continue            # continue rebase
  rs = rebase --skip                # skip rebase

  # status
  s = status                        # status
  st = status                       # status
  stat = status                     # status
[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an <%ae>]%Creset
[merge]
  summary = true
  verbosity = 1
[diff]
  # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  # instead of a/b/c/d as prefixes for patches
  mnemonicprefix = true
[url "git://github.com/"]
  # Read-only
  insteadOf = rgh:
[url "git@github.com:"]
  # With write access
  insteadOf = gh:
[url "git://bitbucket.org/"]
  # Read-only
  insteadOf = rbb:
[url "git@bitbucket.org:"]
  # With write access
  insteadOf = bb:
[url "git@bitbucket.org:gutebotschafter/"]
  # With write access
  insteadOf = gubo:
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = upstream
